<div style="padding: 20px;">
    <form class="form" [formGroup]="formularioPrincipal" (ngSubmit)="submit()">
        <div class="row">
            <div class="form-group col-md-4">
                Nombre:&nbsp;<i style="color:red">*</i><br>
                <input class="form-control"  formControlName="nombre"  type="text">
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('nombre')?.invalid && formularioPrincipal.get('nombre')?.value == '' && flagSubmit">
                Este campo es requerido.&nbsp;</label>
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('nombre')?.invalid && formularioPrincipal.get('nombre')?.value.length < 5 && flagSubmit">
                Este campo debe tener al menos 5 caracteres.</label>
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-md-4">
                Apellido:&nbsp;<i style="color:red">*</i><br>
                <input class="form-control"  type="text" formControlName="apellido">
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('apellido')?.invalid && formularioPrincipal.get('apellido')?.value == '' && flagSubmit">
                Este campo es requerido.&nbsp;</label>
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('apellido')?.invalid && formularioPrincipal.get('apellido')?.value.length < 5 && flagSubmit">
                Este campo debe tener al menos 5 caracteres.</label>
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-md-4">
                Teléfono:<br>
                <input class="form-control" formControlName="telefono"  type="text">
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-md-4">
                Fecha de nacimiento:&nbsp;<i style="color:red">*</i><br>
                <input class="form-control"  type="date" formControlName="fechaNacimiento">
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('fechaNacimiento')?.invalid && flagSubmit">
                Este campo es requerido.&nbsp;</label>
            </div>
        </div> <br>
        <div class="row">
            <div class="form-group col-md-4">
                Correo:&nbsp;<i style="color:red">*</i><br>
                <input class="form-control"  type="email" formControlName="email">
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('email')?.invalid && formularioPrincipal.get('email')?.value == '' && flagSubmit">
                Este campo es requerido.&nbsp;</label>
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('email')?.invalid && formularioPrincipal.get('email')?.value != '' && flagSubmit">
                Debe especificar una casilla de correo válida.</label>
            </div>
        </div><br>
        <div class="row">
            <div class="form-group col-md-4">
                Password:&nbsp;<i style="color:red">*</i><br>
                <input class="form-control"  type="password" formControlName="pass">
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('pass')?.invalid && formularioPrincipal.get('pass')?.value == '' && flagSubmit">
                Este campo es requerido.&nbsp;</label>
                <label for="colFormLabelSm" class="col-form-label col-form-label-sm"
                *ngIf="formularioPrincipal.get('pass')?.invalid && formularioPrincipal.get('pass')?.value.length < 5 && flagSubmit">
                Este campo debe tener al menos 5 caracteres.</label>
            </div>
        </div> <br>
        <div class="row"  *ngIf="!flagEstado">
            <div class="form-group col-md-4" style="text-align: right;">
                <button class="btn btn-success" type="submit" style="width: 100%;">Grabar</button>
            </div>
        </div>
        <div class="row" *ngIf="flagEstado">
            <div class="form-group col-md-4">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Usuario registrado correctamente!</h4>
                    <p>El usuario. {{ formularioPrincipal.get('nombre')?.value }} {{formularioPrincipal.get('apellido')?.value}} fue registrado correctamente</p>
                    <hr>
                    <p class="mb-0">Gracias por usar esta app.</p>
                </div>       
            </div>  
        </div>  
    </form>
</div>