<p style="margin-bottom: 0px;">
    <mat-toolbar color="primary">

        <button  *ngIf="logueado" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <span *ngIf="logueado" >Sistema de notas: Bienvenido {{Profesor | nombreCompletoProfesor}}</span>
        <span *ngIf="!logueado">Sistema de notas</span>
        <span class="example-spacer"></span>       
        <button *ngIf="!logueado" mat-flat-button (click)="Loguear()">Login</button>&nbsp;&nbsp;
        <button *ngIf="!logueado" mat-flat-button (click)="Registrar()">Registrarse</button>
    </mat-toolbar>
</p>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''" >
    {{errorMessage}}
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="abmProfesor()">
      <mat-icon>home</mat-icon>
      <span>Profesores</span>
    </button>
    <button mat-menu-item (click)="abmAlumno()">
        <mat-icon>home</mat-icon>
        <span>Alumnos</span>
    </button> 
    <button mat-menu-item  (click)="Desloguear()">
        <mat-icon>home</mat-icon>
        <span>Cerrar sessión</span>
    </button> 
</mat-menu>