<div class="row" style="margin-bottom: 20px;" *ngIf="(this.usuarioLogueado | async)?.perfil == 'admin'">
    <div class="form-group col-md 12">
        <button mat-raised-button color="primary" (click)="CrearNuevo()">Registrar nuevo</button>
    </div>
</div>
<div class="row" style="margin-bottom: 100px;">
    <div class="form-group col-md 10">
      <i *ngIf="Cursos.length == 0">No se encontraron elementos registrados</i>

        <table *ngIf="Cursos.length > 0" mat-table [dataSource]="Cursos" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>                  


            <ng-container matColumnDef="editar">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                  <mat-icon  *ngIf="(this.usuarioLogueado | async)?.perfil == 'admin'" style="cursor: pointer;" title="Editar" (click)="actualizar(element.id)">edit</mat-icon>
              </td>
          </ng-container>

          <ng-container matColumnDef="remover">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="color:red;">
                  <mat-icon  *ngIf="(this.usuarioLogueado | async)?.perfil == 'admin'" style="cursor: pointer;" title="Remover" (click)="remover(element.id)">delete</mat-icon>
              </td>
          </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre del curso </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
      
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="comision">
              <th mat-header-cell *matHeaderCellDef> Comisión </th>
              <td mat-cell *matCellDef="let element"> {{element.comision}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidadClases">
              <th mat-header-cell *matHeaderCellDef> Cantidad de clases </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadClases}} </td>
            </ng-container>


            <ng-container matColumnDef="cantidadHoras">
              <th mat-header-cell *matHeaderCellDef> Cantidad de horas </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadHoras}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidadAlumnosInscriptos">
              <th mat-header-cell *matHeaderCellDef> Cantidad de alumnos inscriptos </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidadAlumnoInscriptos}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          </table>
    </div> 
</div>

