<form class="form" [formGroup]="formularioPrincipal" style="min-height: 600px;min-width: 800px;" (ngSubmit)="submit()" class="col-md-4">
    <div class="row" class="row" *ngIf="FormType == 'Create' || FormType == 'Update' ">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Nombre del curso</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="Curso.nombre" formControlName="nombre" >
        </mat-form-field><br>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('nombre')?.errors?.['maxlength']">
        Este campo debe tener como máximo 15 caracteres.</small>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripcion" [(ngModel)]="Curso.descripcion" formControlName="descripcion" >
      </mat-form-field><br>
      <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
      *ngIf="formularioPrincipal.get('descripcion')?.errors?.['maxlength']">
      Este campo debe tener como máximo 30 caracteres.</small>
  </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label> Comisión</mat-label>
        <input matInput placeholder="Comisión" [(ngModel)]="Curso.comision" formControlName="comision" >
      </mat-form-field><br>
      <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
      *ngIf="formularioPrincipal.get('comision')?.errors?.['maxlength']">
      Este campo debe tener como máximo 15 caracteres.</small>
  </p>
   </div>
   
  <div class="row" *ngIf="FormType == 'Delete' || FormType == 'View'" style="padding-bottom:20px;">
    <b>Nombre del curso:  {{Curso.nombre}}</b>
    <br>
    <b>Descripción:  {{Curso.descripcion}}</b>
    <br>
    <b>Comisión:  {{Curso.comision}}</b>
  </div>
  <div *ngIf="FormType == 'View'" class="p-3 mb-2 bg-light text-dark" style="border:1px solid lightgrey;"> 

    <app-inscripcion [cursoId]="parametroId" [FormType]="FormType"></app-inscripcion>

    <app-inscripcion-profesores></app-inscripcion-profesores>

    <app-inscripcion-materia></app-inscripcion-materia>

</div>
  <br>
  <br>

    <div mat-dialog-actions style="text-align: right;">
        <button *ngIf="!formularioPrincipal.valid && FormType != 'Update'" mat-raised-button disabled>{{FormType == 'Create' ? 'Nuevo' : FormType == 'Delete' ? 'Eliminar' : 'Actualizar'}}</button>
        <button *ngIf="formularioPrincipal.valid && FormType == 'Delete'" mat-raised-button color="warn" cdkFocusInitial type="submit">Eliminar</button>
        <button *ngIf="formularioPrincipal.valid && (FormType == 'Create' || FormType == 'Update')" mat-raised-button color="primary" cdkFocusInitial type="submit">{{FormType == 'Create' ? 'Nuevo' : FormType == 'Update' ? 'Actualizar' : ''}}</button>
        <button mat-raised-button color="primary" routerLink="/Curso/Index" style="margin-left: 10px;">Volver</button>
    </div>
    
</form>