<div class="row">
    <div class="form-group col-md-4" style="margin-top:30px;">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/librosenlinea.png" class="card-img" src="./assets/librosenlinea.png">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h2 class="card-title">Bienvenido al sistema de control de alumnos</h2>
                <h4 class="card-subtitle mb-2 text-muted"><b>Sobre nosotros</b></h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="card-text"><small class="text-muted">Actualizado hace 3 minutos</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>