<h2 appTitulo>Nuevo</h2>
<hr>
<div class="row" style="margin-bottom: 20px;">
    <div class="form-group col-md 12">
        <button mat-raised-button color="primary" routerLink="/Alumno">Volver</button>
    </div>
</div>
<form class="form" [formGroup]="formularioPrincipal" style="min-height: 400px;min-width: 400px;" (ngSubmit)="submit()" class="col-md-4">
    <div class="row" class="row" *ngIf="FormType == 'Create' || FormType == 'Update'">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="Alumno.nombre" formControlName="nombre" >
        </mat-form-field><br>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('nombre')?.errors?.['maxlength']">
        Este campo debe tener como máximo 15 caracteres.</small>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" [(ngModel)]="Alumno.apellido" formControlName="apellido">
        </mat-form-field><br>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('apellido')?.errors?.['maxlength']">
        Este campo debe tener como máximo 15 caracteres.</small>
    </p>
    <p>

        <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [(ngModel)]="Alumno.fechaNacimiento" formControlName="fechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

    </p>  
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="Alumno.email" formControlName="email">
        </mat-form-field><br>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('email')?.errors?.['maxlength']">
        Este campo debe tener como máximo 15 caracteres.</small>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('email')?.errors?.['email']">
        Debe especificar una casilla de correo válida.</small>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Password" type="text" [(ngModel)]="Alumno.telefono" formControlName="telefono">
        </mat-form-field><br>
        <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
        *ngIf="formularioPrincipal.get('telefono')?.errors?.['maxlength']">
        Este campo debe tener como máximo 15 caracteres.</small>
    </p>
   </div>
    <div class="row" *ngIf="FormType == 'Create'">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Seleccione Provincia</mat-label>
            <mat-select formControlName="provincia">
              <mat-option *ngFor="let prov of (provincias | async) | sort:'nombre'" [value]="prov.nombre">{{prov.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="!formularioPrincipal.get('provincia')?.errors?.['required']"> 
          <mat-form-field appearance="fill">
            <mat-label>Seleccione Localidad</mat-label>
            <mat-select formControlName="localidad">
              <mat-option *ngFor="let loc of localidades | sort:'nombre'" [value]="loc.nombre">{{loc.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>

  <div class="row" *ngIf="FormType == 'Delete'">
      <b>Nombre:  {{Alumno | nombreCompletoAlumno}}</b>
      <br>
      <b>Fecha de nacimiento: {{Alumno.fechaNacimiento | date: 'dd/MM/yyyy'}}</b>
      <br>
      <b>Email: {{Alumno.email}</b>
      <br>
      <b>Teléfono: {{Alumno.telefono}</b>
      <br>
  </div>
  <div class="row" *ngIf="FormType =='Update' || FormType == 'Delete'">
    <b>Provincia: {{Alumno.provincia}}</b>
    <br>
    <b>Localidad: {{Alumno.localidad}}</b>
  </div>

  <br>
  <br>

    <div mat-dialog-actions style="text-align: right;">
        <button *ngIf="!formularioPrincipal.valid" mat-raised-button disabled>{{FormType == 'Create' ? 'Nuevo' : FormType == 'Delete' ? 'Eliminar' : 'Actualizar'}}</button>
        <button *ngIf="formularioPrincipal.valid" mat-raised-button color="primary" cdkFocusInitial type="submit">Grabar</button>
    </div>
    
</form>