
<div class="row" style="margin-bottom: 100px;">
    <div class="form-group col-md 10">
      <i *ngIf="Cursos.length == 0">No se encontraron elementos registrados</i>

        <table *ngIf="Cursos.length > 0" mat-table [dataSource]="Cursos" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>                  


            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre del curso </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
      
            <ng-container matColumnDef="comision">
              <th mat-header-cell *matHeaderCellDef> Comisión </th>
              <td mat-cell *matCellDef="let element"> {{element.comision}} </td>
            </ng-container>

            <ng-container matColumnDef="legajo">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon  style="cursor: pointer;color:steelblue;" title="Legajo" (click)="legajo(element.id)">search</mat-icon>
                <mat-icon  style="cursor: pointer;padding-left: 10px;color:yellowgreen" title="Inscribir alumnos" (click)="inscribir(element.id)">group_add</mat-icon>

               </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          </table>
    </div> 
</div>

