<form class="form" [formGroup]="formularioPrincipal" style="min-height: 400px;min-width: 400px;">
<p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" formControlName="nombre" >
    </mat-form-field><br>
    <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
    *ngIf="formularioPrincipal.get('nombre')?.errors?.['maxlength']">
    Este campo debe tener como máximo 15 caracteres.</small>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Apellido" [(ngModel)]="data.apellido" formControlName="apellido">
    </mat-form-field><br>
    <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
    *ngIf="formularioPrincipal.get('apellido')?.errors?.['maxlength']">
    Este campo debe tener como máximo 15 caracteres.</small>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" [(ngModel)]="data.pass" formControlName="pass">
    </mat-form-field><br>
    <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
    *ngIf="formularioPrincipal.get('pass')?.errors?.['maxlength']">
    Este campo debe tener como máximo 15 caracteres.</small>
</p>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [(ngModel)]="data.email" formControlName="email">
    </mat-form-field><br>
    <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
    *ngIf="formularioPrincipal.get('email')?.errors?.['maxlength']">
    Este campo debe tener como máximo 30 caracteres.</small>
    <small for="colFormLabelSm" class="errorSmall col-form-label col-form-label-sm"
    *ngIf="formularioPrincipal.get('email')?.errors?.['email']">
    Debe especificar una casilla de correo válida.</small>
</p>
<br>
<div mat-dialog-actions>
    <button *ngIf="!formularioPrincipal.valid" mat-raised-button disabled>Registrarse</button>
    <button *ngIf="formularioPrincipal.valid" mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Registrarse</button>
    <button mat-button (click)="onNoClick()">Cerrar</button>
</div>

</form>